@import './components/menu.styl'
@import './components/freelance-seo.styl'
@import './components/footer.styl'

@import './components/publications.styl'
@import './components/publication.styl'

@import './components/themes.styl'
@import './components/share.styl'

@import './components/activity.styl'
@import './components/loadAnimation.styl'



@import './libs/code.styl'
@import './libs/fonts.styl'



/*  Estilos activos desde un ancho cualquiera > a 992px 
  hasta un ancho minimo de 992px
 */
// @media only screen and (min-width: 992px)  


/* Esctilos activos desde un ancho maximo de 992px
   hasta un ancho minimo de 845px
*/
// @media only screen and (min-width:795px) and (max-width:992px)


/* Estilos activos desde un ancho maximo de 845px 
   hasta un ancho minimo de 795px
*/
// @media only screen and (min-width:795px) and (max-width:845px)


/* Estilos activos desde un ancho maximo de 795px
   hasta un ancho minimo de 600px
*/
// @media only screen and (min-width:600px) and (max-width:795px)


/* Estilos activos desde un ancho maximo de 600px
   hasta cualquier ancho < a 600px
*/
// @media only screen and (max-width:600px)

