.contact-container
	margin 1em 0 0 0
	padding 2em 0 0.1em 0
	background #00bcd4
	
.frase-footer
	font-family 'Fjalla One', sans-serif
	letter-spacing 0.1em
	margin-top 1em
	margin-bottom 1em
	
.title-contact
	color #fff
	font-size 2.5em
	text-align center
	
.fi-social-facebook,
.fi-social-twitter,
.fi-social-instagram,
.fi-social-github
	font-size 1.9em
	color #fff
	
.fi-heart
	color #f44336
	margin 0 0 0 0.5em
	
.fi-clock
	color #795548
	
.contact-description
	color #332f2f
	text-align center	
	font-family 'Roboto', sans-serif
	padding 1em 0 0 0
	margin-bottom 0.2em

.blog-year
	color #332f2f
	text-align center
