#information-seo-container
  box-shadow 0 0 15px #888
  margin 2em 0 2em 0
  padding 1em
  

.name-freelance
  color #524f4f
  font-family  'Roboto', sans-serif
  text-align center
  font-size 2.3em

.text-history-seo
	color #524f4f
	font-family  'Roboto', sans-serif
	text-align justify