#information-seo-container
  // box-shadow 0 0 15px #888
  margin 2em 0 2em 0
  padding 1.5em

.name-freelance
  color #060606
  margin-top 0.1em  
  font-family  'Roboto', sans-serif
  text-align center
  font-size 2.3em

.text-history-seo
  // margin-right 1em  
  color #000000
  font-family  'Roboto', sans-serif
  text-align justify