#menu-container
  background-color #8cc74b
  padding 0.2em
  
#menu-container a 
  color #fff
#menu-container a:hover 
  color #222321
  
.fi-list
	font-size 1.5em
	
.fi-list:hover
	color #795548
	
.showMyMenu
	display none