.posts-container
  margin 1.5em 0 0 0

.container-icon-post, .icon-post
  max-width 100% !important
  height auto
  display block
  
.title-post
  text-align center
  padding 1em
  color #6b6060
  font-size 1.4em