.post-container-title
  // border 1px solid
  min-height 128px

.container-icon-post, .icon-post
  max-width 100% !important
  height auto
  display block
  
.title-post
  text-align center
  padding 1em
  color #0a0a0a
  font-size 1.4em