.container-max {
	/*border:1px solid;*/
	max-width: 1150px;
	height: auto;
	padding: 1em;
	margin:0 auto;
	margin-top: 2em;
	margin-bottom: 2em;	
}

.container-max h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.container-max__activities {
	/*border:1px solid red;*/
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	/*align-content:space-between;*/
}

.container-max__activities__activity {
	/*border:1px solid;*/
	width: 210px;
	/*height:5em;*/
	/*margin:0.5em;*/

}

.container-max__activities__activity li {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0.3em;
}