/* The Modal (background) */
.show-project-modal {
    /*display: block;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 36, 36, 0.75);

    /*height: 100vh;*/
    /*width: 100vw;*/
    
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    /*padding-top: 3em;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
}

/* Modal Content/Box */
.show-project-modal__content {

    background-color: rgb(255, 255, 255);
    /*margin: 15% auto;  15% from the top and centered */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*border: 1px solid rgb(204, 204, 204);*/
    overflow: auto;
    /*border-radius: 4px;*/
    outline: none;
    padding: 0.5em;


    margin-top: 3em;
    margin-bottom: 3em;
    /*padding: 1em;*/
    /*width: auto;*/
    /*height: auto;*/
}

.show-project-modal__container-max {
    /*border: 1px solid;*/
    max-width: 1290px;
    /*margin: 0 auto;*/
}

.show-project-modal__btn-close-container {
	display: flex;
	justify-content: flex-end;
}

/* The Close Button */
.close {
    color: #aaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.3em;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* */
.show-project-modal__images-description-container {
    /*border: 1px solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show-project-modal__images-slider-container {
    border: 1px solid;
    width: 725px;
}

.show-project-modal__desciption-container {
    /*border: 1px solid;*/
    width: 474px;
}

.show-project-modal__desciption-container a {
        font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #03a9f4;
    font-size: 1.3em;
}


.show-project-modal__desciption-container h1 {
        font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.show-project-modal__desciption-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.show-project-modal__tecnologies-container {
    /*border: 1px solid green;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-project-modal__frontend-description {
    /*border: 1px solid;*/
    width: 220px;
}

.show-project-modal__frontend-description h3, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.show-project-modal__frontend-description li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.show-project-modal__backend-description {
    /*border: 1px solid;*/
    width: 220px;
}

.show-project-modal__backend-description h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.show-project-modal__backend-description li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.2em;
}
