/*@media (max-width: 600) {*/
@media only screen and (min-width: 600px){

    body {
        position: relative;
        padding: 0px;
        margin: 0px;
        overflow-y:visible;
    }

    .menu {
        width: 100%;
        height:auto;
        position:fixed;
        top: 0;
        /*bottom: 0;*/
        right: 0;
        left: 0;        
        background:#2f4e5d;
    }

    .menu-items-links {
        /*border: 1px solid;*/
        max-width: 1000px;
        margin: 0 auto;
        padding: 0.5em;
        display: flex;
        justify-content: flex-end;
    }

    .item-link {
        padding: 0.5em;
        list-style: none;
    }

    .item-link a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight:400;
        font-size: 1em;

    }

    .item-link a:hover {
        color: #968f8f;
    }

    .contenedor-gral {
        margin-top: 4em;
    }

}

@media only screen and (max-width: 600px){
    body {
        position: relative;
        padding: 0px;
        margin: 0px;
        overflow-y:visible;
        
    }

    .menu {
        width: 100%;
        height:auto;
        position:fixed;
        /*top: 0;*/
        bottom: 0;
        right: 0;
        left: 0;        
        background:#2f4e5d;
    }

    .menu-items-links {
        /*border: 1px solid;*/
        max-width: 1000px;
        margin: 0 auto;
        padding: 0.5em;
        display: flex;
        justify-content: flex-end;
    }

    .item-link {
        padding: 0.5em;
        list-style: none;
    }

    .item-link a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight:400;
        font-size: 1em;

    }

    .item-link a:hover {
        color: #968f8f;
    }

    .contenedor-gral {
        margin-bottom: 3em;
    }
}      

/* ========================================================== */
.container-footer {
    /*#096690*/
    background-color: #2f4e5d;
    /*margin-top: 4em;*/
}

.container-footer__max {
    /*border:1px solid;*/
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.container-footer__max__content {
    /*border:1px solid red;*/
    margin:0 auto;
}

.container-footer__max__content__description {
    /*border:1px solid green;*/
}

.icon-heart {
    color: #d61406;
}

.icon-alarm {
    /*#89be2b*/
    color: #4e2320;
}

.container-footer__max__content__description p {
    text-align: center;
    font-size: 1.4em;
    font-family: monospace;
    color: #fff;

}

.container-footer__max__content__socials__buttons {
    /*border:1px solid blue;*/
    margin-top: 6em;

    display: flex;
    justify-content:space-around;
}

.container-footer__max__content__socials__buttons__button {
    /*border:1px solid pink; */
}


.container-footer__max__content__socials__buttons__button a {
    text-decoration: none;
    font-size: 1.7em;
    color: #85cc34;
}

.container-footer__max__content__socials__buttons__button a:hover {
    color: #fff;
}


/* FEELANCE MODULE ================================== */
.infoFreelance {
    /*border: 1px solid;*/
    margin-top: 1em;
}

.infoFreelance__container-max {
    /*border: 1px solid red;*/
    box-shadow: 0 0 15px #888;
    padding: 1em;
    margin: 0 auto;
    max-width: 741px;
}

.infoFreelance__container-max h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

.infoFreelance__container-max p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.photo-freelance {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('/images/fabio-gamaliel-saracho-franco.jpg');
    background-size: cover;
    background-position: center;
}


/* HABILIDADES MODULO ========================== */
.container-max {
    /*border:1px solid;*/
    max-width: 1150px;
    height: auto;
    padding: 1em;
    margin:0 auto;
    margin-top: 2em;
    margin-bottom: 2em; 
}

.container-max h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-decoration: underline;
}

.container-max__activities {
    /*border:1px solid red;*/
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /*align-content:space-between;*/
}

.container-max__activities__activity {
    /*border:1px solid;*/
    width: 210px;
    /*height:5em;*/
    /*margin:0.5em;*/

}

.container-max__activities__activity li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.3em;
}

@media screen and (max-width: 635px) {
    .container-max__activities {
        /*border:1px solid red;*/
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        /*align-content:space-between;*/
    }

    .container-max__activities__activity {
        /*border:1px solid;*/
        width: 210px;
    }
}



/* PROYECTOS MODULE ============================= */

.container-projects-list {
    /*border: 1px solid;*/
    /*background-color: #62dafb;*/
    padding: 1em;
}

.container-projects-list h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

.container-projects-list__max-container {
    /*border: 1px solid red;*/
    max-width: 1300px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-projects-list__project {
    /*border: 1px solid blue;*/
    width: 405px;
    margin-bottom: 3em;
}

.container-projects-list__image-container {
    /*border: 1px solid green;*/
}

.container-projects-list__image {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.container-projects-list__project h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.container-projects-list__button-container {
    /*border: 1px solid green;*/

    display: flex;
    justify-content: flex-end;
}

.container-projects-list__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    background-color: #537ffc;
    /*background-color: #6fd073;*/

    padding: 0.8em;
    cursor: pointer;
    color: #fff;
    border-bottom: 3px solid #4e2320;
    border-radius: 0.5em;
}



/* SHOW PROJECT MODULE ============================ */

/* The Modal (background) */
.show-project-modal {
    /*display: block;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(37, 36, 36, 0.75);

    /*height: 100vh;*/
    /*width: 100vw;*/
    
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    /*padding-top: 3em;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
}

/* Modal Content/Box */
.show-project-modal__content {

    background-color: rgb(255, 255, 255);
    /*margin: 15% auto;  15% from the top and centered */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*border: 1px solid rgb(204, 204, 204);*/
    overflow: auto;
    /*border-radius: 4px;*/
    outline: none;
    padding: 0.5em;


    /* poner */
    margin-top: 1em;
    margin-bottom: 1em;

    /*padding: 1em;*/
    /*width: auto;*/
    /*height: auto;*/
}

.show-project-modal__container-max {
    /*border: 1px solid;*/
    max-width: 1511px;
    margin: 0 auto;
}

.show-project-modal__btn-close-container {
    display: flex;
    justify-content: flex-end;
}

/* The Close Button */
.close {
    color: #aaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.3em;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* */
.show-project-modal__images-description-container {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*height: auto;*/
    /*margin: 0 auto;*/
}

.show-project-modal__images-slider-container {
    /*border: 1px solid blue;*/
    width: 1060px;
}

.show-project-modal__desciption-container {
    /*border: 1px solid green;*/
    width: 389px;
    padding-bottom: 2em;
}

.show-project-modal__desciption-container a {
        font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #03a9f4;
    font-size: 1.3em;
}

.image-screem-mobile {
  max-width: 100% !important;
  border: 2px solid grey;
  border-radius: 10px;
  /*height: auto;*/
  height: 590px;
  margin: 0 auto;
  display: block;
}

.image-screem-web {
  max-width: 100% !important;
  height: auto;
  display: block;
}


.show-project-modal__desciption-container h1 {
        font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.show-project-modal__desciption-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.show-project-modal__tecnologies-container {
    /*border: 1px solid green;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-project-modal__tecnologies-container li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.2em;
}


/* SLIDER SHOW =============================== */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ea0909;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ea0909;
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0a0a0a;
  font-size: 12px;
  padding: 1em;
  position: absolute;
  top: 0;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* ====================================================== */
/* POST LIST MODULE ======================================= */

.posts-list {
    /*border: 1px solid black;*/
    margin-bottom: 2em;
}

.posts-list__container-max {
    /*border: 1px solid red;*/
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.posts-list__post-container {
    /*border: 1px solid green;*/
    margin: 1em 0.5em 2em 0.5em;
    width: 344px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.posts-list__container-title-date {
}

.posts-list__post-container a {
    text-decoration: none;
}

.posts-list__post-container a h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    color: black;
    text-align:center;
}

.posts-list__post-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.posts-list__container-image {
    /*border: 1px solid black;*/
}

.posts-list__image {
    max-width: 100% !important;
    height: auto;
    display: block;
}




/*======================================================*/
/*======================================================*/
    /* Show publication */
.post-show-container-max {
  /*border: 1px solid;*/
  max-width: 980px;
  padding: 0.5em; 
  margin: 0 auto;
}

    /* titulo para markdown, posts como themes */

.title-ph {
  /*font-weight  200*/
  /*padding:1em 0 0 0;*/
  color:#000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size:2em;
}

blockquote {
  margin:0;
}

.sub-title-ph {
  /*font-weight  200*/
  color:#000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size:1.6em;
  padding-left:1em;
  padding-top:1em;
}

.article-ph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  /*font-family: initial;*/
  text-align: justify;
  color: #000;
  font-size: 1.3em;
}

.center {
  text-align: center;
}

.folder-code {
  text-align: center;
  color: #000;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

img {
  max-width: 100% !important;
  height: auto;
  display: block;
}