.infoFreelance {
	/*border: 1px solid;*/
	margin-top: 1em;
}

.infoFreelance__container-max {
	/*border: 1px solid red;*/
  	box-shadow: 0 0 15px #888;
  	padding: 1em;
	margin: 0 auto;
	max-width: 741px;
}

.infoFreelance__container-max h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	text-align: center;
}

.infoFreelance__container-max p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: justify;
}

.photo-freelance {
	width: 190px;
	height: 190px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url('./src/images/gama2.jpg');
	background-size: cover;
	background-position: center;
}
