<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="theme-color" content="#2f4e5d">
    <link rel="manifest" href="{{ site.baseurl }}/src/manifest.json">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/iconos/icon512.png">
    <link rel="icon" href="{{ site.baseurl }}/images/iconos/icon512.png">

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/src/css/style.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/src/css/icons/style.css" />

    <link rel="stylesheet" type="text/css" href="../src/css/libs/code.css" />


    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <nav class="menu">
      <ul class="menu-items-links">
        <li class="item-link"><a href="{{ site.baseurl }}/">Home</a></li>
        <!-- <li class="item-link"><a href="">Skills</a></li> -->
        <li class="item-link"><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <!-- <li class="item-link"><a href="">Portfolio</a></li> -->
      </ul>
    </nav>

    <div class="contenedor-gral">

      <div id="main" role="main" class="contenedor-contenido">
        {{ content }}
      </div>

      <!-- Footer -->
      <footer class='container-footer'>
        <div class='container-footer__max'>
          <div class='container-footer__max__content'>
            <div class='container-footer__max__content__description'>
              <p>A website made with much <span class="icon-heart"></span> and <span class='icon-alarm'></span></p> 
            </div>

            <div class='container-footer__max__content__socials__buttons'>
              <div class='container-footer__max__content__socials__buttons__button'>
                <a href='https://github.com/gamalielsaracho' target='_blank'>
                  <span class="icon-github"></span>
                </a>
              </div>
              <div class='container-footer__max__content__socials__buttons__button'>
                <a href='https://www.facebook.com/gamalielsaracho/' target='_blank'>
                  <span class="icon-facebook"></span>
                </a>
              </div>
              <div class='container-footer__max__content__socials__buttons__button'>
                <a href='https://www.instagram.com/gambliel/' target='_blank'>
                  <span class="icon-instagram"></span>
                </a>
              </div>
              <div class='container-footer__max__content__socials__buttons__button'>
                <a href='https://twitter.com/gamalielsaracho' target='_blank'>
                  <span class="icon-twitter"></span>
                </a>
              </div>
              <div class='container-footer__max__content__socials__buttons__button'>
                <a href='https://www.youtube.com/channel/UC0UMW0lD-nGIFB9MlgUmYEw?view_as=subscriber' target='_blank'>
                  <span class="icon-youtube2"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>


    {% include analytics.html %}

    <script src="{{ site.baseurl }}/src/app.js"></script>

    <script src="{{ site.baseurl }}/src/libs/highlight.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
    </script>

  </body>
</html>
