.posts-list {
	/*border: 1px solid black;*/
	margin-bottom: 2em;
}

.posts-list__container-max {
	/*border: 1px solid red;*/
	max-width: 1150px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.posts-list__post-container {
	/*border: 1px solid green;*/
	margin: 1em 0.5em 2em 0.5em;
	width: 344px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.posts-list__container-title-date {
}

.posts-list__post-container a {
	text-decoration: none;
}

.posts-list__post-container a h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.7em;
	color: black;
	text-align:center;
}

.posts-list__post-container p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


.posts-list__container-image {
	/*border: 1px solid black;*/
}

.posts-list__image {
	max-width: 100% !important;
	height: auto;
	display: block;
}
